@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500&display=swap');
:root {
    --color-moderate-cyan: hsl(176, 50%, 47%);
    --color-dark-cyan: hsl(176, 72%, 28%);
    --color-black: hsl(0, 0%, 0%);
    --color-dark-gray: hsl(0, 0%, 48%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Commissioner', sans-serif;
    font-size: 1.6rem;
}

.container {
    /* border: 1px solid red; */
    width: 86%;
    margin: 0 auto;
}

.header__nav {
    /* border: 1px solid rgb(60, 60, 94); */
    padding: 3rem 0;
    position: fixed;
    width: 100vw;
    margin-top: 1rem;
    z-index: 50;
}

.header__nav.sticky {}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    /* border: 1px solid green; */
    font-weight: 500;
}

.nav-logo {
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.6px;
    transition: all 400ms ease;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    /* border: 1px solid purple; */
}

.nav-link {
    /* border: 1px solid blue; */
    font-size: 1.4rem;
    color: #fff;
    transition: all 400ms ease;
}

.nav-link:hover,
.nav-logo:hover {
    color: var(--color-moderate-cyan);
}

.nav-icon {
    display: none;
    font-size: 2.8rem;
    color: #fff;
}

.mobile-nav {
    display: none;
}

.header {
    position: relative;
    top: -1;
    /* border: 1px solid red; */
    background: url('./../images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}


/* MAIN SECTION */

main {
    /* border: 1px solid purple; */
}

.main_container {
    /* border: 1px solid blue; */
    max-width: 70rem;
    margin: 0 auto;
}

.top {
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    background-color: white;
    top: -8rem;
    padding: 5rem 2.5rem 3.5rem 2.5rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-img {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.top-text {
    text-align: center;
    color: gray;
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
}

.top-buttons {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    /* border: 1px solid red; */
    display: inline-block;
    position: relative;
    padding: 2rem 4rem;
    cursor: pointer;
    width: 25rem;
    border-radius: 100px;
}

.btn-primary {
    background-color: var(--color-dark-cyan);
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.btn-gray {
    background-color: rgba(25, 59, 55, 0.1);
    color: var(--color-dark-cyan);
    font-size: 2rem;
    text-align: end;
    font-weight: 500;
    width: 22rem;
}

.topbooktxt {
    color: var(--color-dark-gray);
}

.top-btn-svg {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    height: 100%;
    /* display: none; */
}

.top-bookmark {
    display: none;
}

.middle {
    margin-top: -5rem;
    background-color: white;
    border-radius: 8px;
    padding: 4rem 2rem 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.middle-top {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.middle-price {
    flex: 1;
    /* border: 1px solid red; */
    padding-left: 3rem;
    border-left: 1px solid;
}

.middle-price-1 {
    border-left: 0;
}

.middle-price p {
    color: gray;
    margin-top: 1rem;
}

.middle-bar {
    margin-top: 3rem;
    height: 2rem;
    width: 100%;
    background-color: #ccc;
    border-radius: 100px;
    position: relative;
}

.middle-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 82%;
    height: 100%;
    background-color: var(--color-moderate-cyan);
    border-radius: 100px;
}

.bottom {
    padding: 4rem 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    margin-top: 3rem;
    border-radius: 8px;
}

.bh {
    margin-bottom: 4rem;
}

.bottom_text {
    color: gray;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
}

.bottom_box {
    padding: 4rem 3rem;
    border-radius: 8px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border: 1px solid lightgray;
    margin-bottom: 3rem;
}

.bbh {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.pledge {
    color: var(--color-moderate-cyan);
    font-size: 1.3rem;
    font-weight: 550;
}

.bbb {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bb_sup {
    font-weight: 50;
    font-size: small;
    color: gray;
}

.bbox_btn {
    background-color: var(--color-dark-cyan);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 100;
}

.bbox_btn.btn {
    padding: 1.5rem 3rem;
    width: 17rem;
}


/* ====================== MEDIA QUERIS ================== */

@media screen and (max-width:800px) {
    .nav-links {
        display: none;
    }
    .nav-icon {
        display: block;
    }
    .mobile-nav {
        display: block;
        /* border: 1px solid red; */
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 4rem 5vw;
        z-index: 100;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.4));
        transform: translateY(-100%);
        transition: all 400ms ease-in;
    }
    .mobile-nav .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-nav .mobile-icon {
        font-size: 3rem;
        color: #fff;
    }
    .mobile-nav .mobile-logo {
        font-size: 2.8rem;
        color: #fff;
        font-weight: 700;
    }
    .mobile-list {
        /* border: 1px solid red; */
        background-color: #fff;
        display: flex;
        /* gap: 5rem; */
        flex-direction: column;
        margin-top: 3.5rem;
        border-radius: 1rem;
        /* padding: 2.2rem; */
    }
    .mobile-list li {
        padding: 4rem 0 4rem 2rem;
        /* background-color: red; */
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    .mobile-list li:last-of-type {
        border-bottom: none;
    }
    .mobile-link {
        font-size: 2.4rem;
        font-weight: 500;
        color: var(--color-black);
    }
    .header {
        background: url("./../images/image-hero-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header__nav.open .mobile-nav {
        transform: translateY(0);
    }
    .main_container {
        /* border: 1px solid blue; */
        width: 90vw;
    }
    .top-heading {
        font-size: 2.5rem;
    }
    .top-btn-2 {
        display: none;
    }
    .top-bookmark {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width:700px) {
    .middle-top {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }
    .middle-price {
        border-left: none;
        text-align: center;
    }
}

@media screen and (max-width:500px) {
    .top-buttons {
        flex-direction: column;
        gap: 2rem;
    }
    .top-bookmark {
        order: 1;
    }
    .top-btn-1 {
        order: 2;
        padding: 2rem 3rem;
        font-size: 1.5rem;
        width: 20rem;
    }
}